  <!-- Header -->
  <%- include("../partials/header_logout.ejs") %> 
  
  <!-- Main  -->
  <main class="p-4">
    <div class="px-11 mx-8" id="result" #result>
        <div class="overflow-hidden my-4 mx-11  bg-white shadow border-red-400 sm:rounded-lg ">
          <div class="px-4 py-4  sm:px-6 ">
            <h3 class="text-3xl font-medium leading-6 text-center text-gray-900">Nagarro University</h3>
            <p class="mt-3  text-gray-500 text-center">Final Result of All Semesters</p>
          </div>
          <div class="border-t border-gray-200">
            <dl>
              <div class="bg-gray-50 px-5 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Roll No</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= Marksheet.roll %></dd>
              </div>
      
              <div class="bg-gray-50 px-5 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Full name</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= Marksheet.name %></dd>
              </div>
      
              <div class="bg-gray-50 px-5 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Date Of Birth</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= Marksheet.dob %></dd>
              </div>
              <div class="bg-gray-50 px-5 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">Score</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= Marksheet.score %> %</dd>
              </div>
      
            </dl>
          </div>
        </div>
      
      </div>
      <div class="bg-gray-50 px-5 py-1 text-center sm:px-6">
        <button onclick="toPdf()"
          class="inline-flex justify-center rounded-md border border-transparent bg-rose-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-offset-2">Download</button>
      </div>
      
      
  </main>
<script>
  function toPdf() {
    const dashboard = document.getElementById('result');

    const dashboardHeight = 600;
    const dashboardWidth = dashboard.clientWidth;
    const options = { background: 'white', width: dashboardWidth, height: dashboardHeight };

    domtoimage.toPng(dashboard, options).then((imgData) => {
         const doc = new jsPDF(dashboardWidth > dashboardHeight ? 'l' : 'p', 'mm', [dashboardWidth, dashboardHeight]);
         const imgProps = doc.getImageProperties(imgData);
         const pdfWidth = doc.internal.pageSize.getWidth();
         const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;

         doc.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
         doc.save('Marksheet.pdf');
    });
}
</script>
  <!-- Footer -->
  <%- include("../partials/footer.ejs") %> 
